# Análise de dados referentes aos alunos do curso de Ciência e Tecnologia da UFRN

Trabalho da disciplina de Probabilidade e Estatística.

In [3]:
#Imports

import os
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud

In [29]:
#Atalho para o local dos dataset

arquivo = "files/"

alunos = arquivo+ "discentes/"

cet_id = 4885

In [22]:
# Tratamento dos dados

# DataFrame que terá os dados dos ingressantes 
df_ingressantes_cet = pd.DataFrame()


# Juntando todos os dados em um único arquivo

for root, dirs, files in os.walk(alunos):
    for filename in files:
        print(root + filename)
        # Ler arquivo
        df_ingressantes = pd.read_csv((root + filename), sep=';')
        # Filtra pelo curso 
        df_ingressantes_filter = df_ingressantes[df_ingressantes.nome_curso == "CIÊNCIAS E TECNOLOGIA"]
        # Salva no DataFrame que declaramos no início
        df_ingressantes_cet = pd.concat([df_ingressantes_cet, df_ingressantes_filter])

files/discentes/discentes-2009.csv
files/discentes/discentes-2012.csv
files/discentes/discentes-2010.csv
files/discentes/discentes-2016.csv
files/discentes/discentes-2018.csv
files/discentes/discentes-2011.csv
files/discentes/discentes-2017.csv
files/discentes/discentes-2014.csv
files/discentes/discentes-2015.csv
files/discentes/discentes-2013.csv

In [23]:
# Removendo as colunas desnecessárias
df_ingressantes_cet = df_ingressantes_cet.drop(columns=['sigla_nivel_ensino', 'nivel_ensino',
                                  'id_curso', 'nome_curso',
                                  'id_unidade', 'nome_unidade',
                                 'id_unidade_gestora', 'nome_unidade_gestora'])

# Converte colunas que são float, mas deveriam ser int
df_ingressantes_cet.matricula = df_ingressantes_cet.matricula.astype('int64')
df_ingressantes_cet.periodo_ingresso = df_ingressantes_cet.periodo_ingresso.astype('int64')

# Salvar os registros em um CSV
df_ingressantes_cet.to_csv('data/discentes_cet.csv')

# Exibindo os dados
df_ingressantes_cet.head(3)

,matricula,nome_discente,ano_ingresso,periodo_ingresso,forma_ingresso,tipo_discente,status,modalidade_educacao
7,2009030800,ABIMAEL SILVA CHIBÉRIO,2009,2,VESTIBULAR,REGULAR,CANCELADO,PRESENCIAL
46,2009028309,ADERALDO ALVES DA SILVA NETO,2009,2,VESTIBULAR,REGULAR,CONCLUÍDO,PRESENCIAL
68,2009030818,ADRIANA CARLA FERNANDES PALHARES,2009,2,VESTIBULAR,REGULAR,CANCELADO,PRESENCIAL

In [33]:
# Todos os bolsistas de iniciação científica
df_bolsistas = pd.read_csv(('files/bolsistas-de-iniciacao-cientifica.csv'), sep=';')

# Filtramos para os que cursam CET
df_bolsistas_cet = df_bolsistas[df_bolsistas.id_unidade == cet_id]

# Removendo as colunas que não serão necessárias
df_bolsistas_cet = df_bolsistas_cet.drop(columns=['Unnamed: 20',
                                  'id_unidade', 'unidade'])
# Exibe o inicio do DataFrame
df_bolsistas_cet.head(3)

# Salvando o arquivo
df_bolsistas_cet.to_csv('data/bolsistas_cet.csv')